<button class="btn btn--accent">
  <p class="search">SEARCH</p>
</button>

<button class="btn btn--accent">
  <svg class="button__icon">
    <use xlink:href="images/sprite.svg#search"></use>
  </svg>
  <p class="search">SEARCH</p>
</button>

<button class="btn btn-block btn--primary">
  <p class="search">BUY NOW</p>
</button>

<button class="btn btn-block btn--outlined">
  <p class="search">BUY NOW</p>
</button>

<button class="btn btn-block btn--secondary">
  <p class="search">BUY NOW</p>
</button>
