<button class="btn btn--accent">SEARCH</button>

<button class="btn btn--accent">
  <svg class="button__icon">
    <use xlink:href="images/sprite.svg#search"></use>
  </svg>
  SEARCH
</button>

<button class="btn btn--accent button--icon-only">
  <svg class="button__icon">
    <use xlink:href="images/sprite.svg#search"></use>
  </svg>
</button>

<button class="btn btn-block btn--primary">BUY NOW</button>

<button class="btn btn-block btn--outlined">
  <p class="search">BUY NOW</p>
</button>

<button class="btn btn-block btn--secondary">BUY NOW</button>
