<div class="card card--primary">
  <header class="card__header">Card Title</header>
  <div class="card__body">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, vitae
    deleniti officiis illo, quod quos unde nam deserunt ipsa eos consectetur,
    recusandae et porro sapiente! Aut veniam eveniet doloremque ipsa.
  </div>
</div>

<div class="card card--secondary">
  <header class="card__header">Card Title</header>
  <div class="card__body">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi, vitae
    deleniti officiis illo, quod quos unde nam deserunt ipsa eos consectetur,
    recusandae et porro sapiente! Aut veniam eveniet doloremque ipsa.
  </div>
</div>
