<div class="collapsible">
  <header class="collapsible__header" aria-expanded="false">
    <h2 class="collapsible__headline">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nemo dolore
      cupiditate itaque voluptatibus? Perferendis, beatae? Magni consequuntur
      dolore, sapiente et placeat blanditiis dignissimos quam praesentium earum
      voluptas! Sint, mollitia? Lorem ipsum dolor sit amet consectetur
      adipisicing elit.
    </p>
  </div>
</div>
