<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero perferendis maxime porro error molestias odio distinctio nostrum sed eveniet, a inventore illum quam consequatur alias dolorum quibusdam et minus iure.</p>
    </span>
    <footer>
      <div class="media">
  <div class="media__image quote__line">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#line"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title quote__author">Jogn Smtith</h3>
    <p class="quote__company">
      ABC Company
    </p>
  </div>
</div>
    </footer>
     </blockquote>